.light {
  --background: #ffffff;
  --foreground: #171717;
  --line-color: #e9edef;
  --scrollbar-background: #ffffff;
  --scrollbar-thumb: #c1bfba;
  --rounded-btn-bg: #f0f2f5;
  --rounded-btn-color: #6d6596;
  --rounded-btn-clicked-bg: #e7e8eb;
  --rounded-btn-clicked-color: #25808c;
  --rounded-btn-hover-bg: #e7e8eb;
  --user-message-bg: #d9fdd3;
  --other-user-message-bg: #fff;
  --border-color: #e9edef;
  --group-user-box-bg:#e9edef;
  --notification-bg:#fefefe;
}
.dark {
  --background: #111b21;
  --foreground: #ededed;
  --line-color: #222d34;
  --scrollbar-background: #111b21;
  --scrollbar-thumb: #374045;
  --rounded-btn-bg: #202c33;
  --rounded-btn-color: gray;
  --rounded-btn-clicked-bg: #0a332c;
  --rounded-btn-clicked-color: #00a86d;
  --rounded-btn-hover-bg: #2a3942;
  --user-message-bg: #005c4b;
  --other-user-message-bg: #202c33;
  --notification-color: #00a884;
  --border-color: #46555f;
  --group-user-box-bg:#101a20;
  --notification-bg:#182229;

}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #111b21;
    --foreground: #ededed;
    --line-color: #222d34;
    --scrollbar-background: #111b21;
    --scrollbar-thumb: #374045;
    --rounded-btn-bg: #202c33;
    --rounded-btn-color: gray;
    --rounded-btn-clicked-bg: #0a332c;
    --rounded-btn-clicked-color: #00a86d;
    --rounded-btn-hover-bg: #2a3942;
    --user-message-bg: #005c4b;
    --other-user-message-bg: #202c33;
    --notification-color: #00a884;
    --border-color: #46555f;
    --group-user-box-bg:#101a20;

  }
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* CHATS BOX CSS */
.roundedBtn {
  border: none;
  text-align: center;
  border-radius: 50px;
  padding: 3px 10px;
  background: var(--rounded-btn-bg);
  font-size: 14px;
  color: var(--rounded-btn-color);
  cursor: pointer;
  transition: all 0.5s;
}

.roundedBtn:hover {
  background: var(--rounded-btn-hover-bg);
}
.roundedBtnActive {
  background: var(--rounded-btn-clicked-bg);
  color: var(--rounded-btn-clicked-color);
}

.line {
  width: 80%;
  height: 1px;
  background: var(--line-color);
  position: absolute;
  right: 0;
}
.textBox {
  padding: 0;
  margin: 0;
  width: auto;
  min-height: 4vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.no-content {
  font-size: clamp(25px, 6vw, 55px);
}
.message-box {
  display: flex;
  width: fit-content;
  max-width: 50%;
  cursor: pointer;
  margin-top: 3px;
  border-radius: 5px;
  position: relative;
  gap: 5px;
}
.message {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 3px 5px;
  padding-right: 18px;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.message-notification, .message-notification-box{
  align-self: center;
  padding: 1px 15px;
  cursor: pointer;
  border-radius: 5px;
  background: var(--notification-bg);
}
.message-notification p{
  font-size: 15px!important;
  letter-spacing: 1px;
  color: #73828b;
}
.message:hover .message-down-icon {
  display: inherit;
}
.group-other-user-message{
margin-left: 35px;
}
.other-user-message {
  background: var(--other-user-message-bg);
}
.other-user-message .messageOption {
  right: 0; /* Aligns it to the left corner */
  transform: translateX(100%); /* Moves it outside the bubble */
}
.user-message{
  background: var(--user-message-bg);

}
.user-message-box {
  align-self: flex-end;
}
.user-message .messageOption {
  left: 0; /* Aligns it to the left corner */
  transform: translateX(-100%); /* Moves it outside the bubble */
}
.message-time {
  align-self: flex-end;
  margin-left: 20px;
  margin-right: 3px;
  font-size: clamp(8px, 2vw, 10px);
  color: #92a091;
}

/* SCROLLBAR CSS */
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
  border-radius: 10px;
}

/* Handle (draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}
.send-message-input:focus {
  border: none;
  outline: none;
}
.submit-btn {
  background: #000;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 1;
  cursor: pointer;
  text-align: left;
  align-self: left !important;
  margin-top: 30px;
  color: white;
  letter-spacing: 1px;
}
.submit-btn:hover {
  transform: translateY(2px);
}
.no-item-text {
  text-align: center;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: clamp(20px, 4vw, 30px);
  letter-spacing: 1px;
}
.backBtn {
  display: none;
}
.notification {
  background-color: #00a884;
  color: var(--background);
  font-size: 12px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatCardCorner {
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.cardTime {
  font-size: 11px;
}
.typing-status {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--foreground);
}
/* profile section style start */

.label {
  color: #008060;
  font-size: 14px;
}

.profile-input {
border: none;
  outline: none;
  box-sizing: border-box;
  width: 90%;
  resize: none;
  
  padding-bottom: 0;
}
.profile-input:disabled {
  background: none;
}
.profile-input:focus {
  border-bottom: 2px solid #00a884;
  outline: none;
  background: none;
}
.active-profile-input {
  border-bottom: 2px solid #8696a0;
}
.hoverBox {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}
.profMain:hover .hoverBox {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
.default-btn {
  background: linear-gradient(to right, #00a884, #00d757);
  padding: 5px 20px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.5s;
}
.default-btn:hover {
  transform: translateY(5px);
}
/* profile section style end */

/* CARD OPTIONS STYLE START */

.option-ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.option-ul li {
  width: 100%;
  padding: 2px 4px;
}
.option-ul li:hover {
  background: var(--scrollbar-thumb);
}

/* CARD OPTIONS STYLE END */

/* POPUP STYLE START */
.popup-box {
  animation: growup 0.1s ease-in;
}
@keyframes growup {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.bottom-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
  align-self: flex-end;
  width: fit-content;
  margin-top: auto;
}
.bottom-btns button {
  border: 1px solid var(--border-color);
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 15px;
  font-weight: 500;
}
.bottom-btns .confirm-btn {
  background: #00a884;
  color: var(--background);
}
.bottom-btns .confirm-btn:hover {
  background: #06cf9c;
}
.bottom-btns .cancel-btn {
  background: none;
  color: #00a884;
}
.bottom-btns .cancel-btn:hover {
  color: #06cf9c;
}

/* POPUP STYLE END */

/* MESSAGE STYLE START */

.message-down-icon {
  display: none;
  position: absolute;
  right: 1%;
  top: 20%;
  cursor: pointer;
}

/* MESSAGE STYLE END */
.downIcon {
  display: none;
}
.select {
  border: none;
  outline: none;
  background: var(--background);
  cursor: pointer;
}
.option {
  border: none;
  outline: none;
}
.option:focus {
  border: none;
  outline: none;
}

/* GROUP CHAT STYLE STARTS */

.userBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  max-height: 300px;
  width: fit-content;
  min-width: 120px;
  overflow: auto;
  height: auto;
  padding: 5px 5px;
  z-index: 10;
  background: var(--group-user-box-bg);
}
.userBox button {
  font-size: 13px;
  color: gray;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px 2px;
}
.userBox button:hover {
  background: white;
}
.groupBtn {
  background: #00a884;
  padding: 5px 15px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: clamp(15px, 4vw, 22px);
}
/* GROUP CHAT STYLE ENDS */

/* GROUP DETAILS STYLE START */

.groupBtnIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color:#00a884;
  color: white;
  border-radius: 50%;
  
}

/* GROUP DETAILS STYLE END */

@media (width<770px) {
  .backBtn {
    display: inherit;
  }
  .line {
    display: none;
  }
  .downIcon {
    display: inherit !important;
  }
}
